/******************************************

            ?GENERALES

******************************************/
:root {
    --primary:#F66E21;
    --secondary: #fcefe6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 1.4rem;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
}






/******************************************

            ?HEADER

******************************************/

.header_container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_logo_container {
    max-width: 200px;
}

.header_logo_container img {
    width: 100%;
    padding: 10px;
}

.header_navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 100%;    
}

.header_navbar {
    display: flex;
}

.header_navbar li {
    padding: 10px;
    width: max-content; 
    border-top: 2px solid transparent;
    color:var(--primary);
    font-weight: bold;  
}

.header_navbar li:hover {
    border-top: 2px solid var(--primary);   
}







/******************************************

            ?MAIN

******************************************/

.main_container {
    position: relative;
    margin: 50px 0 0 0;
}









/******************************************

            ?ARROW

******************************************/


.arrow_container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 500px;
}

.arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;        
        width: 50px;
        height: 50px;
        background-color: gray;
        border-radius: 50%; 
}

.back_arrow_slider {  
    position: absolute;
    transform: rotate(180deg);
    top: 230px;
    left: 20px;    
}

.arrow:hover {
    opacity: 0.5;
}

.arrow img {
    width: 30px;
}

.next_arrow_slider {
    position: absolute;    
    top: 230px;
    right: 30px;
}

.arrow-icon {
    width: 100%;
}

.arrow-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.nav_slider_container {
    display: flex;
    position: absolute;
    width: min-content;
    height: 30px;
    bottom: 0;
    right: calc(50% - 60px);
}

.nav_slider {
    width: 20px;
    border-radius: 50%;
    border: 3px solid gray;
    margin: 5px;
}

.nav_slider:hover {
    background-color: var(--primary);
    cursor: pointer;
}

.nav_slider.activo {
    background-color: var(--primary);    
}









/******************************************

            ?SLIDER

******************************************/

.slider_container {
    position: relative;
    width: 90vw;
    height: 500px;
    display: flex;
    overflow: hidden; 
    margin: 50px auto;   
}

.slider_container_elements {
    display: flex; 
    width: 90vw;     
    height: 100%; 
    margin: 0 auto;  
    /*transform: translateX(-300%);*/
}

.slider {  
    display: flex;       
    width: 90vw;    
    height: 90%; 
    margin: 0 auto; 
    object-fit: contain;    
}

.slider img {
    width: 90vw;
    height: 100%;  
    object-fit: contain;
}









/******************************************

            ?PROJECTS

******************************************/

.project_container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    background-color: var(--secondary);
    padding: 0 0 100px 0;
}

.project_title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 50px 0;
    text-shadow: 2px 2px 4px black;
    color: var(--primary);
}

.project__items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px); 
    grid-gap: 20px;    
}   

.project_card {
    display: flex;  
    height: 300px;
    align-items: end;
    justify-content: center;
    background-size: cover;
    background-image: url(./img/imagen_construcción.png);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.project_card:hover {
    scale: 1.1;
    opacity: 0.8;
    cursor: pointer;
}

.project_card_information {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    color: gray;
}

.project_card_information .type {
    border-right: 2px solid gray;
    padding-right: 15px;
}

.project_card_information .meters {
    padding: 0 10px;
}

.project_card_information .location {
    border-left: 2px solid gray;
    padding-left: 15px;
}


.project_one {
    background-image: url(./img/cúbica_alcalá.jpg);    
}

.project_two {
    background-image: url(./img/cúbica_tribunas.jpg);
}

.project_three {
    background-image: url(./img/casa_rural_2.jpeg);
}











/******************************************

            ?GALERY

******************************************/


.galery_container {    
    margin: 0 auto;     
}

.galery_title {
    margin: 30px auto;
    font-size: 3rem;    
    width: max-content;
    color: var(--primary);
    text-shadow: 2px 2px 4px black;
}

.galery_slider {   
    max-width: 1350px;
    margin: 0 auto;
    overflow: hidden;
}

.galery_items_container {
    display: flex;
    margin: 0 0 100px 0;
    gap: 20px;
    overflow-x: scroll;
    padding: 50px; 
}

.galery_item img {
    width: 256px;
    height: 256px;
    object-fit: cover;
}











/******************************************

            ?FOOTER

******************************************/

.footer_container {
    display: flex;
    height: max-content;
    justify-content: space-around;    
    padding: 50px 100px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);   
}

.footer_item {
    max-width: 400px; 
    display: flex;
    align-items: center;
}

.footer_item img {
    max-width: 40px;
}

.footer_item .text_container {
    padding: 10px;
}

.btn-contact {
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 1;
    color: #fff;
    background-color: #44c654;
    border-color: #44c654;
    border-radius: 50% !important;
    height: 60px;
}

.btn-contact img {
    width: 100%;
}

.btn-contact img:hover {
    scale: 1.2;
}